# -*- mode:conf; -*-
[flake8]
# mccabe code complexity metric: 10 is too much
max-complexity = 10
max-line-length = 88

ignore =
    # "Use of assert detected. The enclosed code will be removed when compiling to optimised byte code."
    # This is useless in tests/ where we WANT to have asserts
    S101
    # "Docstrings first line must end in a period"
    D400
    # # Subprocess-related alerts:
    # Consider possible security implications associated with the subprocess module.
    S404
    # Starting a process with a partial executable path
    S607
    # Subprocess call - check for execution of untrusted input.
    S603
    # "whitespace before ':'" fails on numpy array subindex due to black: a[x: 3]
    E203
